* {
  font-family: "Iosevka";
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Binary_Code.jpg"); */
}

#body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Binary_Code.jpg");
  background-repeat: repeat;
}

#logo {
  margin: auto;
  width: 40%;
  text-align: center;
  border: 3 px red;
  padding: 5 px;
  color: white;
  font-size: 30px;
}

#paragraph {
  background-color: white;
  margin: 8rem;
  font-family: monospace;
  font-size: 24px;
}
